* {
    box-sizing: border-box;
}

.myHeader {
    background-color: black;
    padding: 10px 0px 10px 0px;
    color: white;
    text-align: center;
    font-size: 40px;
    border-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.myNav {
    height: 200px;
    background-color: blue;
    color: white;
    float: left;
    width: 30%;
    border-left: solid 2px black;
}

.myMain {
    height: 200px;
    width: 70%;
    background-color: red;
    color: white;
    float: right;
    border-right: solid 2px black;
}

.myFooter {
    clear: both;
    display: flex;
    background-color: gray;
    border: solid 2px black;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
color: white;
}